* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

body {
    background-color: rgba(255, 213, 3, 0.55);
}

header {
    height: 100px;
    background-color: rgb(255, 213, 0);
}

main {
    height: calc(100% - 100px);
}

.paragraph {
    margin: 7px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 20px;
    text-align: center;
    font-size: small;
    background-color: aliceblue;
}

button {
    position: absolute;
    width: 25%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    border: 1px solid black;
    border-radius: 20px;
    text-align: center;
    background-color: rgb(255, 213, 0);
    border: 1px solid rgb(122, 105, 20);
    transition: width 1s;
    transition: height 1s;
    transition: border-radius 1s;
    transition: left 1s;
}

.firstPosition {
    left: 50%;
}

.newPosition {
    border-radius: 100%;
    width: 150px;
    height: 150px;
    left: 15%;
}

/* button {
    width: 100px;
    height: 100px;
    border-radius: 50%;
} */